/src/util/__pycache__/
/src/swampy/__pycache__/
/nbproject/private/
/nbproject/project.properties
/src/趣学PY编程/__pycache__/
/src/nerdutil/__pycache__/
/src/nerdgenericdata/__pycache__/
/src/nerddata/__pycache__/